@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
a:hover{
    opacity: 70%;
}

article{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #D7EED5;
    width: 100vw;
}

.homeMainArticle{
    margin-top: 4cqmin;
    margin-bottom: 4cqmin;
    width: 95%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.homeMainArticleText{    
    width: 70%;
    padding: 0 0 0 2vw;
}
.homeMainArticleText h1{
    margin-bottom: 1cqmin;
    font-size: 2vw;
    color: #385730;
    font-family: "JetBrains Mono", monospace;
}

.homeMainArticleText p{
    text-indent: 3cqmin;
    font-size:1.1vw;
    font-family: "JetBrains Mono", monospace;
    color: #172B1A;
    margin-bottom: 2vh;
}
.homeMainArticleCarrossel{
    width: 30%;
    aspect-ratio: 1/1;
}

.mainLinks{
    background-color: #598D4C;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
.mainLinksCard{
    margin: 4cqmin 0 ;
    width: 25vw;
    aspect-ratio: 16/13;
    text-decoration: none;
}
.mainLinksCard img{
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16/9;
}
.mainLinksCard h1{
    color: #C6EEBC;
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5vw;
}
.mainLinksCard p{
    color: #D7FFCE;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1vw;
}

.homeMainArticleTextInverted{
    padding: 0 2vw 0 0;
}
.homeMainArticleSaibaMais{
    float: right;
    font-family: "JetBrains Mono", monospace;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    font-size: 1.5vw;
    background-color: #598D4C;
    border-radius: 30px;
    aspect-ratio: 6/1;
}
.mainLeiaMais{
    width: 100vw;
    background: #D7EED5;
}
.mainLeiaMais h1{
    background-color: #598D4C;
    font-family: "JetBrains Mono", monospace;
    border-radius: 20px;
    color: #C6EEBC;
    aspect-ratio: 3/1;
    width: 20vw;
    display: flex;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-bottom: 5vh;
}
.mainLeiaMaisArticle{
    display: flex;
    margin-left: 2vw;
    margin-bottom: 2vh;
    margin-bottom: 3vh;
}
.mainLeiaMaisArticle div{
    margin-left: 2vw;
    width: 50vw;
}
.mainLeiaMaisArticle img{
    width: 20vw;
    aspect-ratio: 16/9;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.678) ;
}
.mainLeiaMaisArticle div h2{
    font-family: "JetBrains Mono", monospace;
    margin-bottom: 1cqmin;
    font-size: 2vw;
    color: #385730;
}
.mainLeiaMaisArticle div p{
    font-size: 2cqmin;
    font-family: "Montserrat", sans-serif;
}

@media (max-width:700px){
    .homeMainArticle{
        flex-direction: column;
    }
    .homeMainArticleCarrossel{
        width: 100%;
    }
    .homeMainArticleText{
        width: 100%;
    }
    .homeMainArticleText h1{
        margin-top: 5cqmin;
        font-size: 4cqmin;
    }
    .homeMainArticleText p{
        font-size: 3cqmin;
    }
    .mainLinks{
        flex-direction: column;
        align-items: center;
    }
    .mainLinksCard{
        width: 90%;
    }
    .mainLinksCard h1{
        font-size: 5cqmin;
    }
    .mainLinksCard p{
        font-size: 4cqmin;
    }
    .mainLeiaMaisArticle{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mainLeiaMaisArticle img{
        width: 96%;
    }
    .mainLeiaMaisArticle div{
        width: 90vw;
    }
    .mainLeiaMaisArticle H2{
        margin-top: 3cqmin;
    }
    .homeMainArticleSaibaMais{
        width: 100%;
        aspect-ratio: 10/1;
        font-size: 5cqmin;
        margin-bottom: 3vh;
    }
    .mainLeiaMais h1{
        font-size: 7cqmin;
        width: 96%;
        aspect-ratio: 5/1;
        margin-bottom: 2vh;
    }
    .mainLeiaMaisArticle div{
        width: 95vw;
    }
    .mainLeiaMaisArticle div h2{
        font-size: 4cqmin; 
    }
    .mainLeiaMaisArticle div p{
        font-size: 3cqmin; 
    }
}