@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* Header Nav General Styles */
header, nav, .navLinks, .navSearchForm, .navSearchSubmit{
    display: flex;
    align-items: center;
}
.navSearchForm, .navSearchSubmit{
    justify-content: center;
}
nav, .navLinks{
    justify-content: space-between;
}
.backgroundHeaderNav , header, nav{
    width: 100vw;  
}
header, nav{
    backdrop-filter: blur(px);    
}
header a, .navToolbarBtn, .navToolbarBtnBack{
    background-size: 100%;
    aspect-ratio: 1/1;
}
nav{
    font-size: 2vh;
}
.navToolbarBtn, .navToolbarBtnBack{
    display: none;
}
.navSearchInput, .navSearchSubmit{
    height: 2.5vh;
    border: none; 
}
.navToolbarBtn{
    border: none; 
    height: 3vh;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    color: rgba(255, 255, 255, 0.877);
}
#navCheck{
    display: none;
}
.navAbas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
/* Header Nav General Styles - End */

/* Header Style */
.backgroundHeaderNav{
    background-image: url(../headerNavImg/Plantas.png);
    background-size: 100%;
    height: 19vh;
    display: block;
}
header{
    font-family: "JetBrains Mono", monospace;
    color: white;
    height: 15vh;
    background-color: rgba(123, 177, 114, 0.9);;
    justify-content: space-between;
}
header a{
    background-image: url(../headerNavImg/Logo\ -\ Saturno.png);
    background-position: center;
    height: 20vh;
}
/* Header Style - End */

/* Nav Style */
nav{
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.527);
    background-color: #598D4C;
}
nav .navLinks{
    width: 20vw;
    margin-left: 4cqmin;
}
nav .navLinks a{
    color: rgb(236, 236, 236);
    text-decoration: none;
    margin-right: 2vw;
    font-size: 2.5cqmin;
    font-family: "JetBrains Mono", monospace;
}
nav .navSearch{
    margin-right: 4cqmin;
}
nav .navSearch .navSearchInput{
    width: 10vw;
    border-radius: 10px  0 0 10px;
    background-color: rgba(255, 255, 255, 0.61);
    padding: 0 1.5cqmin;
}
nav .navSearch  .navSearchSubmit{
    width: 2vw;
    border-radius: 0  10px 10px 0;
    background-color: rgb(70, 173, 70);
    min-width: 30px;
    background-image: url(../headerNavImg/Search.png);
    background-size: 2.5vh;
    background-repeat: no-repeat;
    background-position: center;
}
/* Nav Style - End */

/* Nav Interaction styles */
nav .navSearch .navSearchInput:focus{
    outline: 0;
    border: solid 2px rgb(70, 173, 70);
    width: 15vw;
}
nav .navLinks a:hover{
    color: rgb(255, 255, 255);
    outline: solid 1px rgb(70, 173, 70);
    border-radius: 5px;
}
nav .navToolbarBtn:hover{
    background-color: rgba(70, 173, 70, 0.459);
}
/* Nav Interaction styles - End */

/* Header Nav Default Style */
nav .navToolbarBtn{
    height: 4vh;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    margin-left: 2cqmin;
}
/* Header Nav Default Style - End */


.navAbasMenu{
    display: none;
}
@media (max-width:700px){
/* Header Nav Mobile Style / Hidden Items */
    .navAbasMenu{
        display: flex;
        width: 100vw;
        background-color: #598D4C;
        justify-content: space-between;
        align-items: center;
        height: 4vh;
    }
    .navAbasMenuLabel{
        margin-left: 2cqmin;
        color: rgba(255, 255, 255, 0.877);
    }
    .navAbas{
        transition: all .5s;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        left: -100vw;
    }
    nav .navLinks{
        background-color: #D7EED5;
        height: 96vh;
        width: 100vw;
        margin-left: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 5cqmin;
    }
    nav .navLinks a{
        color: #385730;
        font-size: 8cqmin;
    }
    header{
        justify-content: center;
    }

    #navCheck:checked ~ .navAbas{
        left: 0;
    }

/* Header Nav Mobile Style / Hidden Items - End */

/* Header Nav Mobile Style / Show Items */
nav .navToolbarBtn{
    display: flex;
}
/* Header Nav Mobile Style / Show Items - End */

/* Header Nav Mobile Style */
nav .navSearch .navSearchInput{
    width: 40vw;
}
nav .navSearch .navSearchInput:focus{
    width: 50vw;
}
.backgroundNavMobile{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Header Nav Mobile Style - End */
}
