/* Carrosel Logic / Scroll config */
.carrosel{
    width: 100%;
    aspect-ratio: 1/1;
}
.carroselImg{
    width: 100%;
    aspect-ratio: 1/1;
}
.carroselImgs {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100%;
}
.carroselImgs::-webkit-scrollbar {
    height: 1vh;
}
.carroselImgs::-webkit-scrollbar-thumb {
    background: rgb(57, 185, 53);
    border-radius: 10px;
}
.carroselImgs > .carroselImg {
    scroll-snap-align: start;
    flex-shrink: 0;
}
/* Carrosel Logic / Scroll config - End */

/* Back and Next Buttons */
.carroselBtns{
    position:relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.carroselBack , .carroselNext{
    width: 5cqmin;
    aspect-ratio: 1/1;
    background-size: 5cqmin;
    background-repeat: no-repeat;
    background-position: center;
}
.carroselBack:hover{
    background-image: url(../carrouselImg/backBtn.png);
}
.carroselNext:hover{
    background-image: url(../carrouselImg/nextBtn.png);
}
.carroselBack:hover , .carroselNext:hover{
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 100%;
}
/* Back and Next Buttons - End */

/* Carrosel Frame */
.carroselImg{
    height: 100%;
    background-position: center;
    margin-right: 5vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    aspect-ratio: 1/1;
}
/* Carrosel Frame - End */

/* Set Images */
#carroselImg1{
    background-image:url(../../imgs/senacXp.png);
}
#carroselImg2{
    background-image:url(../../imgs/shopping.jfif);
}
#carroselImg3{
    background-image:url(../../imgs/shopping2.jfif);
}
#carroselImg4{
    background-image:url(../../imgs/plantaEx.png);
    background-size: 110%;
}

#carrosel2Img1{
    background-image:url(../../imgs/senacXpLogo.png);
}
#carrosel2Img2{
    background-image:url(../../imgs/senacXp.png);
}


@media(max-width:700px){
    .carroselBtns{
        display: none;
    }
}